Repository rstcheck/rstcheck-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-spelling-dicts, find-todos, mypy, pylint

Path conditions:
  sort-spelling-dicts: any of: spelling_dict.txt
  find-todos: any file but: TODO
  mypy: any of: \.py$
  pylint: any of: \.py$

remove pre py38 compat code
  docs/source/conf.py
  pyproject.toml
  src/rstcheck_core/_compat.py
  src/rstcheck_core/_extras.py
  src/rstcheck_core/types.py
  tests/_extras_test.py
  tests/inline_config_test.py
Due: find-todos, mypy, pylint

update changelog
  CHANGELOG.md
Due: find-todos

update mypy ignore comment
  docs/source/conf.py
Due: find-todos, mypy, pylint

update mypy ignore comment
  src/rstcheck_core/config.py
Due: find-todos, mypy, pylint

remove double v for version tags in changelog
  CHANGELOG.md
Due: find-todos

udpate pydantic sphinx object file
  docs/source/conf.py
  docs/source/objects.pydantic.inv
Due: find-todos, mypy, pylint

Add support for yaml code block checks
  CHANGELOG.md
  README.rst
  docs/source/usage/config.rst
  pyproject.toml
  src/rstcheck_core/checker.py
  tests/checker_test.py
  tox.ini
Due: find-todos, mypy, pylint

docs(index): Fix minor typos in the index
  docs/source/index.rst
Due: find-todos

remove outdated version check block
  prep_release.py
Due: find-todos, mypy, pylint

add pyyaml stubs
  pyproject.toml
Due: find-todos

Update AUTHORS.rst file with new author(s)
  AUTHORS.rst
Due: find-todos

add variable for yaml import state to fix type error
  src/rstcheck_core/checker.py
Due: find-todos, mypy, pylint

update tests to match new import check; use pytest-mock over unittet.mock
  tests/checker_test.py
Due: find-todos, mypy, pylint

improve message on missing line no for literal blocks; reduce log level to warning
  src/rstcheck_core/checker.py
Due: find-todos, mypy, pylint

"release v1.2.0 [skip ci]"
  CHANGELOG.md
Due: find-todos

adds support for adding new sphinx directives
  src/rstcheck_core/_sphinx.py
  src/rstcheck_core/checker.py
  src/rstcheck_core/config.py
  testing/examples/sphinx/add_directive_test.rst
  testing/examples/sphinx/unknown_directive_test.rst
  tests/_sphinx_test.py
  tests/checker_test.py
  tests/config_test.py
Due: find-todos, mypy, pylint

updates changelog
  CHANGELOG.md
Due: find-todos

fix compare link in changelog
  CHANGELOG.md
Due: find-todos

fix compare link
  CHANGELOG.md
Due: find-todos

add run condition for yaml tests; only run when pyyaml is available
  tests/checker_test.py
Due: find-todos, mypy, pylint

add test env for tests with yaml; remove yaml from base test env
  tox.ini
Due: find-todos

fix typo
  CHANGELOG.md
Due: find-todos

update spelling dict
  docs/source/spelling_dict.txt
Due: sort-spelling-dicts, find-todos

revert prettier back to v3 in pre-commit
  .pre-commit-config.yaml
Due: find-todos

fixes pre-commit found issues
  src/rstcheck_core/_sphinx.py
  src/rstcheck_core/checker.py
  tests/_sphinx_test.py
  tests/checker_test.py
  tests/config_test.py
Due: find-todos, mypy, pylint

feat: copy adding-sphinx-directives commit
  src/rstcheck_core/_sphinx.py
  src/rstcheck_core/checker.py
  src/rstcheck_core/config.py
  testing/examples/sphinx/add_directive_test.rst
  testing/examples/sphinx/unknown_directive_test.rst
  tests/_sphinx_test.py
  tests/checker_test.py
  tests/config_test.py
Due: find-todos, mypy, pylint

bump min. sphinx version up to v5
  pyproject.toml
Due: find-todos

update extra dependency check
  src/rstcheck_core/_extras.py
Due: find-todos, mypy, pylint

drop tests with sphinx v4
  tox.ini
Due: find-todos

fix links in changelog pointing to wrong repo
  CHANGELOG.md
Due: find-todos

autoformat jsonc
  .markdownlint-cli2.jsonc
Due: find-todos

use prettier 3
  .pre-commit-config.yaml
Due: find-todos

fix changelog link
  CHANGELOG.md
Due: find-todos

remove outdated type ignore
  tests/config_test.py
Due: find-todos, mypy, pylint

ignore false 'no attribute' error
  tests/_sphinx_test.py
Due: find-todos, mypy, pylint
